/* class selector */
.center {
  text-align: center;
  color: rgb(255, 0, 0);
  border-style: solid;
  border-color: blue;
  border-width: medium;
  border-radius: 5px;
  display: inline;
}

/* id selector */
#header {
  text-align: center;
  color: rgba(255, 0, 0, 0.75);
  border-style: solid;
  border-radius: 5px;
  margin: auto;
  padding: 25px 50px 75px 100px;
}

/* universal selector */
* {
  text-align: left;
}

/* element selector */
p {
  text-align: left;
  color: hsl(0, 100%, 1%);
  height: auto;
  width: auto;
}

/* attribute selector */
[class^="top"] {
  background: yellow;
}

/* psuedo-class selector */
a:hover {
  color: #FF00FF;
}

a:active {
  color: #0000FF;
}

/* GROUPING/COMBINATORS */

/* selector list */
h3, h4 {
  text-align: center;
  color: hsla(9, 100%, 64%, 0.75);
  width: 300px;
  max-width: 300px;
  border: 5px solid green;
  padding: 50px;
  margin: 5px;
  text-decoration: underline;
  font-family: 'Open Sans', sans-serif;

  text-align: center;
  border-style: solid;
  border-radius: 5px;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  min-width: 40px;
  display: block;
}

/* descendant combinator */
section p {
  background-color: #fff;
}

/* child combinator */
section > p {
  background-color: lavender;
}

/* general sibling combinator */
section ~ p {
  background-color: lavender;
}

/* adjacent sibling combinator */
section + p {
  background-color: lavender;
}

/* margins */
p {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
  position: relative;
}

/* position */
h1 {
  position: static;
}

/* flexbox */
.flex-container {
  display: flex;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

/* grid */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 5px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 30px;
  text-align: center;
  grid-row-start: 1;
  grid-row-end: 2;
}
